# mac fucking
.DS_Store
# vscode editor
.vscode
# pycharm editor
.idea
# python compile file
*.pyc

# restapi ignore
restapi/.env
restapi/app/settings.cfg
restapi/app/settings.py
.pytest_cache
__pycache__

# event ignore
event/node_modules
event/configs/config-local.js
event/configs/config-staging.js
event/configs/config-production.js

#event-new ignore
event-new/node_modules
event-new/.sonarlint
event-new/dist


# virtualenv
.Python
bin/
include/
# lib/
pip-selfcheck.json

# pdf
*.pdf